.container {
    display: grid;
    grid-template-columns: 5% 20% auto;
    grid-template-rows: auto;
    width: 100%;
    /* margin: 5px 0; */
    padding: 5px 0;
    grid-gap: 10px;
    z-index: -1;

  }

  #main-content {
    margin: 0 150px;
    grid-template-columns: repeat(auto-fill, 32%);
    grid-template-rows: auto;
    grid-gap: 20px;
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
  }


  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: grey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1000;
    /* Position the tooltip */
    position: absolute;
    /* z-index: 1; */
    top: -5px;
    left: 60%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#sideNavBox{
    /* margin: 0 150px; */
  
    grid-template-columns: 100%;
    /* grid-template-rows: 100%; */
    /* grid-gap: 20px; */
    display: grid;

}

#sideNav{
    /* margin: 0 150px; */
  
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill,15%);
    /* grid-gap: 20px; */
    display: grid;
    grid-column: 1/3;
    grid-row: 1/1;
    height: 630px;
    background: grey;
    border-radius: 20px;
    /* border: 1px solid #f1f1f1; */
    padding: 10%;
    opacity: 80%;

}
.sideNav-icon{
    padding: 2%;
    border-radius: 10px;
    width: 80px;
    /* height: 80px */
    background:rgb(223, 223, 223);
    /* opacity: 98%; */
    border: 1px solid #f1f1f1;
    z-index: 10;

}

#contactList{
    /* margin: 0 150px; */
    grid-template-columns: 100%;
    grid-template-rows: 13% auto;
    /* grid-gap: 20px; */
    display: grid;
    grid-column: 2/3;
    /* grid-row: 2/3; */
}

#contactTop{
    grid-row: 1/2;
    border-radius: 20px 20px 0 0;
    background: rgb(222, 222, 222);
    background-size: cover;

}

#contactTop > ul{
    margin: 0;
    padding: 0 2% 0 2%;
    list-style-type: none;
    /* float:left; */

}
#contactTop > li{
    margin: 0;
    padding: 0;
    display: inline;

}

#contactTop-icon{
    float: left;
    width: 80px;

}

#contactTop-text{
    float: left;
    width: 80px;
    text-align: center;

}

#chatList{
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill,18%);
    grid-auto-rows: 18%;
    border-radius: 0 0 20px 20px;
    background: rgb(174, 173, 173);

}

.chatPreview{
    /* position: relative; */
    background: rgb(173, 218, 145);
    display: grid;
    height: 18%;
    border-radius: 20px;
    border: 1px solid #e4e4e4;

}

.chatIcon{
    float: left;
    display: inline-block;
    width: 45%;
}
.chatIcon > img{
    width: inherit;
}


.chatName{
    float: left;
    display: inline-block;
}


#chatWindow{
    margin: 0;
    grid-template-columns: 100%;
    grid-template-rows: 13% auto;
    /* grid-gap: 20px; */
    display: grid;
    grid-column: 3/3;
}

#chatWindowTop{
    display: grid;
    grid-row: 1/2;
    border-radius: 20px 20px 0 0;
    background: rgb(222, 222, 222);
    background-size: cover;
}

#chatWindowMainBox{
    grid-template-columns: 95% 5%;
    grid-template-rows: 100%;
    grid-row: 2/2;
}

#chatWindowMain{
    grid-column: 1/2;
}

#chatWindowRightBar{
    grid-column: 2/2
}