
* {
  box-sizing: border-box;
  font-family:verdana;
}

body{
  background: cadetblue;
}

.body_section{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

#username{
  display: none;
}
#header1{
  display: none;
}
#welcome1{
  display: none;
}
/*****HEADER***/

body{
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        background: #333;
        padding: 0px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
        border-radius: 20px;
    }
    .fixed-footer{
        bottom: 0;
    }

    nav.navigation{
      display: inline-block;
    }

    a.beauty_options2{
      color: #fff;
      text-decoration: none;
      padding: 7px 25px;
      display: inline-block;
      text-indent: 55%;
    }

    .container p{
        line-height: 200px;
    }

    li.list {
      float: left;
      display: inline-block;
    }

    ul.list_header{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      display: inline-block;
      float: right;
    }

    li.list2 {
      float: left;
      display: inline-block;
    }

    ul.list_header2{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      display: inline-block;
    }

    a.top_text {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      display:inline-block;

    }

    li a:hover {
      background-color: #111;
      display:inline-block;
    }
    a.beauty_options{
        color: #fff;
        text-decoration: none;
        padding: 7px 5px;
        display: inline-block;
        text-align: center;
    }
    div.top_header {
      border: 1px solid black;
      padding: 0px 0px;
      margin: 25px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }


    img.logo{
      margin-left: 10px;
      width: 70px;
    }



#block_container
{
    text-align:center;
}
#bloc1, #bloc2
{
    display:inline;
}


/*****BODY***/

.vertical1{
  display: inline-block;
  float: left;
  margin-top: 500px;
  width: 35%;
  height: 80%;
  padding: 20px;
  float: left;
  border: 3px solid black;
  margin: 10px;
  margin-left: 3%;
  background: #616161;
  border-radius: 20px;
  margin-top: 3%;
  padding-top: 2%;
}

.vertical2{
  display: inline-block;
  float: left;
  margin-top: 500px;
  width: 55%;
  height: 80%;
  padding: 20px;
  float: left;
  border: 3px solid black;
  margin: 10px;
  margin-left: 25px;
  background: #616161;
  border-radius: 20px;
}


.text-title-left{
  display:inline;
  margin-left: 8%;
}

.company{
  display: grid;
  margin-top: 5%;
  margin-left: 17%;
  margin-bottom: 5%;
}
.img{
  width: 85%;
}

.card{
  height: 50%;
  padding: 4%;
  border: 3px solid black;
  margin: 10px;
  background: darkgray;
  margin-bottom: 20%;
  margin-top: 15%;
}
  .lowline{
    position: relative;
    display: inline-block;
  }
  .upline{
    display: inline;

  }

.socialp{
  margin-left: 100%;


}
.register {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.register-form {
  border-radius: 6px;
  position: relative;
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.login {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.login-form {
  border-radius: 6px;
  position: relative;
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
}
/*****Footer***/
.footer-align{
  bottom: 0;
  color: white;
  text-align: center;
  background-color: #222;
  padding: 10px 0px;
  margin: 20px;
  width: 95%;
  border-radius: 20px;
}


.social{
  margin-left: 35%;
}


.instagram-img {
  float: left;
  width: 4.8%;
  padding:5px;
  text-align: center;
  text-decoration: none;
  margin: 1px 50px;
}


.twitter-img {
  float: left;
  width: 5%;
  padding:5px;
  text-align: center;
  text-decoration: none;
  margin: 0px 50px;
}

.copyright{
  float: left;
  width: 30.33%;
  padding:5px;
  text-align: center;
  text-decoration: none;
  margin: 0px 50px;
  margin-top: 10px;
}


.facebook-img {
  float: left;
  width: 4.5%;
  padding:5px;
  text-align: center;
  text-decoration: none;
  margin: 2px 50px;
}

@media only screen and (max-width: 768px) {
  .body_section{

    flex-direction: column;
  }
  .vertical1{
    flex-direction: column;
    margin-top: 500px;
    width: 95%;
    height: 80%;
    padding: 20px;
    border: 3px solid black;
    margin: 10px;
    margin-left: 3%;
    background: #616161;
    border-radius: 20px;
  }

  .vertical2{
    flex-direction: column;
    margin-top: 500px;
    width: 95%;
    height: 80%;
    padding: 20px;
    border: 3px solid black;
    margin: 10px;
    margin-left: 3%;
    background: #616161;
    border-radius: 20px;
  }
  .instagram-img {
    float: left;
    width: 15%;
    padding:5px;
    text-align: center;
    text-decoration: none;
    margin: 1px 20px;
  }


  .twitter-img {
    float: left;
    width: 15%;
    padding:5px;
    text-align: center;
    text-decoration: none;
    margin: 0px 20px;
    margin-top: 2px;
  }

  .copyright{
    float: left;
    width: 30.33%;
    padding:5px;
    text-align: center;
    text-decoration: none;
    margin: 0px 20px;
    margin-top: 4px;
  }


  .facebook-img {
    float: left;
    width: 15%;
    padding:5px;
    text-align: center;
    text-decoration: none;
    margin: 2px 20px;
  }

  .company{
    display: none;
  }
  .footer-align{
    bottom: 0;
    color: white;
    background-color: #222;
    margin-top: 50%;
    width: 95%;
    border-radius: 20px;
    margin-left: 3%;
  }
  .register {
    display: none;
    position: fixed;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .login {
    display: none;
    position: fixed;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

}
