.containertask {
    display: none;
    grid-template-columns: 5% 20% auto;
    grid-template-rows: auto;
    width: 100%;
    /* margin: 5px 0; */
    padding: 5px 0;
    grid-gap: 10px;
    z-index: -1;

  }

  #main-content {
    margin: 0 150px;
    grid-template-columns: repeat(auto-fill, 32%);
    grid-template-rows: auto;
    grid-gap: 20px;
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
  }


  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: grey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* z-index: 1000; */
    /* Position the tooltip */
    position: absolute;
    /* z-index: 1; */
    top: -5px;
    left: 60%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#sideNavBox{
    /* margin: 0 150px; */

    grid-template-columns: 100%;
    /* grid-template-rows: 100%; */
    /* grid-gap: 20px; */
    display: grid;

}

#sideNav{
    /* margin: 0 150px; */

    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill,15%);
    /* grid-gap: 20px; */
    display: grid;
    grid-column: 1/3;
    grid-row: 1/1;
    height: 630px;
    background: grey;
    border-radius: 20px;
    /* border: 1px solid #f1f1f1; */
    padding: 10%;
    opacity: 80%;

}
.sideNav-icon{
    padding: 2%;
    border-radius: 10px;
    width: 80px;
    /* height: 80px */
    background:rgb(223, 223, 223);
    /* opacity: 98%; */
    border: 1px solid #f1f1f1;
    z-index: 10;

}

.edit {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.edit-form {
  border-radius: 6px;
  position: relative;
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
}

#projectList{
     margin: 0 20px;
    /* grid-template-columns: repeat(auto-fill, 32%); */
    grid-template-rows: auto;
    /* grid-gap: 20px; */
    display: grid;
    grid-column: 2/3;
    /* grid-row: 2/3; */
}


div.project-conteiner{
  width: 100%;
  border: 1px solid black;
  background: #233;
  padding: 0px 10;
  color: #fff;
}

div.project{
  width: 100%;
  border: 1px solid black;
  background: #233;
  padding: 0px 10;
  color: #fff;
}

div.project-header{
  width: 100%;
  border: 1px solid black;
  background: #233;
  color: #fff;
  margin-bottom: 2%;
  background: black;
}

.project-icon{
  display:inline;
  border-radius: 10px;
  max-width: 15%;
  max-height: 15%;
  /* height: 80px */
  background:rgb(223, 223, 223);
  /* opacity: 98%; */
  border: 1px solid #f1f1f1;
  z-index: 10px;

}
img.project-icon1{
  border-radius: 10px;
  max-width: 7%;
  float: right;
  max-height: 15%;
  /* height: 80px */
  background:rgb(223, 223, 223);
  /* opacity: 98%; */
  border: 1px solid #f1f1f1;
  z-index: 10px;

}

h3.project-header-title{
  display:inline;
  margin-left: 20%;
}

div.div-project-icon{
  display:inline;
}

div.setting-project-icon{
  display:inline;
}

div.project-individual{
  width: 100%;
  border: 3px solid black;
  padding: 0px 10;
  color: #fff;
  padding: 5%;
  background: #616161;
  border-radius: 20px;
  margin-bottom: 2%;
}

.settings {
  background-color: white;
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin-left: 10%;
}

div.project-name{
  width: 100%;
  border: 1px solid black;
  background: #233;
  padding: 0px 10;
  color: #fff;
  text-align:center;
  top: 0;
  border-radius: 20px;
}

img.project-icon2{
  display:inline;
  padding: 3%;
  border-radius: 1px;
  max-width: 5%;
  /* height: 80px */
  background:rgb(223, 223, 223);
  /* opacity: 98%; */
  border: 1px solid #f1f1f1;
  z-index: 10;

}

div.div-project-icon2{
  display:inline;
}

div.project-header2{
  width: 100%;
  border: 10px solid black;
  background: #233;
  color: #fff;

}

h3.project-header-title2{
  display:inline;
}

div.project-header-title2-container{
  display:inline;
  position: relative;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
}

div.task_container{

  width: 100%;
  height: 20%;
  top: 0;
  padding: 3%;
  border: 3px solid black;
  padding: 0px 10;
  color: #fff;
  background: #616161;
  border-radius: 20px;
  margin-bottom: 2%;

}

div.tick{
  display:inline;
  border:5 px black;
}

div.task_name{
  display:inline;
  border: 10px black;
}

div.task_description{
  display:inline;
  padding-left: 5%;
}

div.task_hamburguer{
  display:inline;
}



h4.text_task_name{
  display:inline;
  border: 4px black;
}

h4.text_task_description{
  display: inline;
}

img.task-icon1{
  border-radius: 10px;
  max-width: 2%;
  float: right;
  max-height: 2%;
  /* height: 80px */
  background:rgb(223, 223, 223);
  /* opacity: 98%; */
  border: 1px solid #f1f1f1;
  z-index: 10px;

}

div.task_creator{
  background: rgb(54, 54, 54);
    height: 7%;
    border: 1px solid #e4e4e4;
  position: absolute;
  bottom: 2%;
  width: 73%;
}



input.input_name{
  float:left;
  width: 20%;
}

input.input_description{
  float:right;
  width: 80%;
}

input.input_button{
  width: 100%;
}


#tasks_project_2{
  display:none;
}
#tasks_project_3{
  display:none;
}
#tasks_project_4{
  display:none;
}
#tasks_project_5{
  display:none;
}
